In [1]:
myInteger = 50

In [2]:
myInteger

50

In [3]:
type(myInteger)

int

In [4]:
str(myInteger)

'50'

In [5]:
myInteger

50

In [7]:
type(str(myInteger))

str

In [8]:
myString = "40"

In [9]:
float(myString)

40.0

In [10]:
int(myString)

40

In [11]:
myString = "deniz"

In [12]:
int(myString)

ValueError: invalid literal for int() with base 10: 'deniz'

In [13]:
float(myString)

ValueError: could not convert string to float: 'deniz'

In [14]:
inputList = ["10","20","30"]

In [15]:
inputList

['10', '20', '30']

In [16]:
inputList[1]*2

'2020'

In [17]:
int(inputList[1]*4)

20202020

In [18]:
int(inputList[1]*4)*4

80808080

In [19]:
str(inputList)

"['10', '20', '30']"

In [20]:
#ileri seviye

In [22]:
nameList = ["den","sahin","hello"]

In [23]:
floatList = [3.14,2.5,10.2,100.123]

In [24]:
type(floatList)

list

In [25]:
mixedList = ["deniz",100,3.14]

In [26]:
type(mixedList)

list

In [27]:
list1 = [10,20,30]
list2 = [40,50,60]

In [28]:
list1 + list2

[10, 20, 30, 40, 50, 60]

In [29]:
list1 * 2

[10, 20, 30, 10, 20, 30]

In [30]:
list1 / 5

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [31]:
mixedList

['deniz', 100, 3.14]

In [32]:
mixedList[1]

100

In [33]:
type(mixedList[1])

int

In [34]:
type(mixedList[2])

float

In [35]:
type(mixedList[0])

str

In [36]:
#nestec list ,iç içe liste

In [37]:
myNestedList = [10,20,2.14,"deniz",[1,2,3]]

In [38]:
myNestedList[1]

20

In [39]:
myNestedList[4]

[1, 2, 3]

In [40]:
myNestedList[4][2]

3

In [41]:
smallList = myNestedList[4]

In [42]:
type(smallList)

list

In [43]:
myNestedList

[10, 20, 2.14, 'deniz', [1, 2, 3]]

In [44]:
smallList = myNestedList[-1]

In [45]:
smallList

[1, 2, 3]

In [46]:
smallList[1]

2

In [47]:
myNestedList[1]

20

In [48]:
lastList = ["a","b",["c","d","e"],"f"]

In [49]:
len(lastList)

4

In [50]:
lastList[0]

'a'

In [51]:
lastList[2][1]

'd'

In [52]:
firstList = [10,20,30,40,50,60,70]

In [53]:
firstList[2::]

[30, 40, 50, 60, 70]

In [54]:
firstList[:5:]

[10, 20, 30, 40, 50]

In [55]:
firstList[::2]

[10, 30, 50, 70]

In [56]:
firstList[1:6:2]

[20, 40, 60]