In [1]:
denizName = "Deniz"

In [2]:
denizYas = 90

In [3]:
denizGender = "Male"

In [4]:
sahinName = "Åžahin"

In [5]:
sahinYas = "10"

In [6]:
sahinGender = "Male"

In [7]:
class Person():
    pass

In [8]:
myList = list()

In [9]:
deniz = Person()

In [10]:
type(deniz)

__main__.Person

In [11]:
class Person():
    name =""
    age = 0

In [12]:
deniz = Person()

In [13]:
deniz.age = 35

In [14]:
deniz.name = "Deniz"

In [15]:
class Person():
    name = ""
    age =0
    gender= ""

    #method , initializer
    def __init__(self):
        print("init executed")

In [16]:
deniz = Person()

init executed

In [17]:
deniz.age= 35

In [18]:
deniz.age

35

In [19]:
deniz.name = "Deniz"

In [20]:
class Person():
    name=""
    age = 0
    gender = ""

    def __init__(self,nameInput,ageInput,genderInput):
        name = nameInput
        age = ageInput
        gender = genderInput

In [21]:
deniz = Person()

TypeError: __init__() missing 3 required positional arguments: 'nameInput', 'ageInput', and 'genderInput'

In [22]:
deniz = Person("Deniz",35,"Male")

In [24]:
deniz.age

0

In [25]:
class Person():
    name=""
    age = 0
    gender = ""

    def __init__(self,nameInput,ageInput,genderInput):
        self.name = nameInput
        self.age = ageInput
        self.gender = genderInput

In [27]:
deniz = Person("Deniz",35,"Male")

In [28]:
deniz.age

35

In [29]:
deniz.gender

'Male'

In [30]:
deniz.name

'Deniz'

In [31]:
type(deniz)

__main__.Person

In [32]:
class Person():
    name=""
    age = 0
    gender = ""

    def __init__(self,nameInput,ageInput,genderInput):
        self.name = nameInput
        self.age = ageInput
        self.gender = genderInput

    def test(self):
        print("test")

In [33]:
deniz = Person("Deniz",35,"Male")

In [34]:
deniz.age

35

In [35]:
deniz.test()

test

In [36]:
class Person():
    name=""
    age = 0
    gender = ""

    def __init__(self,nameInput,ageInput,genderInput):
        self.name = nameInput
        self.age = ageInput
        self.gender = genderInput

    def test(self):
        print("test")

    def printName(self):
        print(name)

In [37]:
deniz = Person("Deniz",35,"Male")

In [38]:
deniz.name()

TypeError: 'str' object is not callable

In [42]:
class Person():
    name=""
    age = 0
    gender = ""
    job = ""

    def __init__(self,nameInput,ageInput,genderInput,jobInput):
        self.name = nameInput
        self.age = ageInput
        self.gender = genderInput
        self.job = jobInput

    def test(self):
        print("test")

    def printName(self):
        print(self.name)

In [43]:
deniz = Person("Deniz",35,"Male","indtructor")

In [44]:
deniz.printName()

Deniz

In [45]:
deniz.job

'indtructor'