In [1]:
my_string = "denizhan şahin"

In [2]:
for c in my_string:
    print(c)

d
e
n
i
z
h
a
n

ş
a
h
i
n

In [3]:
my_tuple = (10,20,30,40,50,60,70)

In [4]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [5]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [6]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [7]:
len(my_new_list)

4

In [8]:
my_new_list[0]

('a', 'b')

In [9]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [10]:
#tuple unpacking

In [11]:
my_new_list[0][1]

'b'

In [12]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [13]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [14]:
len(my_tuple_list)

4

In [15]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [16]:
my_set = {1,2,3,4,5}

In [17]:
my_set

{1, 2, 3, 4, 5}

In [18]:
len(my_set)

5

In [19]:
type(my_set)

set

In [20]:
for num in my_set:
    print(num)

1
2
3
4
5

In [21]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [22]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [23]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [24]:
for (key,value) in my_dictionary.items():
    print(value)

100
200
300

In [25]:
for num in my_dictionary.values():
    print(num)

100
200
300